
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

/* Consider adding a border to everything, and then taking it off when done styling. */

/* This is the meyer reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End of meyer reset */

/* Custom style below */

/* font-family: 'Source Code Pro', monospace; This is the CSS style for the terminal-style monospace text with a fallback default monospace.*/

html {

    font-size:62.5%; /* Went with this so rem values are more closely aligned with "pixels" */

}

body {

    margin: auto;
    max-width: 80rem;
    font-family: 'Source Code Pro', monospace;
    font-size: 2rem;
    background-color: black;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: 1rem;

}

nav {

    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    border-bottom: 0.3rem;
    border-style: solid;
    border-color: white;

}

.fakebutton {

    margin: 0.5rem;
    padding: 1rem;
    border-color: gray;
    border-width: 0.3rem;
    border-style: solid;
    color: black;
    background-color: #BBBBBB;
    text-decoration: none;

}

.fakebutton:active {

    border-color: #666666;
    background-color: #888888;

}

span {

    color: white;

}

p {

    color: white;

}

#projectgallery {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#galleryimgs {

    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}

.galleryimg {

    width: 20%;
    margin: auto;
    padding: 1rem 1rem 1rem 1rem;

}

.gallerytext {

    margin: auto;

}

.footersection {

    margin-top: 3rem;
    padding-top: 3rem;
    border-top: 0.3rem;
    border-style: solid;
    border-color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: white;

}

.screenreader {

    display: none;

}

.mobilealert {

    display: none;

}

@media speech {

    #screenreader {

        display: block;

    }

}

@media screen and (max-width: 900px){

    body {

        margin: auto;
        max-width: 70rem;
        font-family: 'Source Code Pro', monospace;
        font-size: 2rem;
        background-color: black;
        border-width: 1px;
        border-color: black;
        border-style: solid;
        padding: 1rem;
    
    }

}

@media screen and (max-width: 800px){

    body {

        margin: auto;
        max-width: 60rem;
        font-family: 'Source Code Pro', monospace;
        font-size: 1.875rem;
        background-color: black;
        border-width: 1px;
        border-color: black;
        border-style: solid;
        padding: 0.9rem;
    
    }

}

@media screen and (max-width: 700px){

    body {

        margin: auto;
        max-width: 50rem;
        font-family: 'Source Code Pro', monospace;
        font-size: 1.75rem;
        background-color: black;
        border-width: 1px;
        border-color: black;
        border-style: solid;
        padding: 0.8rem;
    
    }

}

@media screen and (max-width: 600px){

    body {

        margin: auto;
        max-width: 40rem;
        font-family: 'Source Code Pro', monospace;
        font-size: 1.625rem;
        background-color: black;
        border-width: 1px;
        border-color: black;
        border-style: solid;
        padding: 0.7rem;
    
    }

}

@media screen and (max-width: 500px){

    body {

        margin: auto;
        max-width: 30rem;
        font-family: 'Source Code Pro', monospace;
        font-size: 2rem;
        background-color: black;
        border-width: 1px;
        border-color: black;
        border-style: solid;
        padding: 0.6rem;
    
    }

    .adventure {

        display: none;

    }

    .mobilealert {

        display: block;

    }

}